* {
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #202020;
  --text-color: #D6D6D6;
  --title: #FFD100;
  --background: #333;
}
.links{
  display: flex;
  gap: 10%;
  justify-content: space-between;
  align-items: center;
  height:6em;
}

.availablity{
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
 
  }
.links ul{
  width: clamp(95%, 1368px, 100%);
  list-style: none;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-end;
}
.nav-btn{
  opacity: 0;
  display: none;
}
ul p{
  display: none;
}
@media (max-width: 720px) {

  .links .right {
    background-color: var(--background);
    position: fixed;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    transition: 1s;
    transform: translateY(-100vh);

  }
 
  .links .availablity{
    width: 180px;
  }
  ul p{
    display: block;
    color: var(--title);
  }
  ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

  }
  .right ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1rem;
    margin: 10% auto;
    width: 20%;
    /* background-color: #d6d6d632; */
  }

  .links .nav-btn {
    display: block;
    opacity: 1;
    background-color: transparent;
    fill: var(--title);

  }

  .links .responsive_nav {
    transform: none;
  }

  .right .close-btn {
    display: block;
    background-color: transparent;
    position: fixed;
    top: 24px;
    right: 24px;
    color: var(--text-color);
  }
    
    
}

