* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

  :root {
    --background-color: #202020;
    --text-color: #D6D6D6;
    --title: #FFD100;
    --background: #363636;
   

}
.j-header {
    position: relative;
    height: 140vh;
    width: 100%;
}

.j-container {
    overflow: hidden;
}

.j-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/jivan_bkg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.j-header h1 {
    color: var(--background-color);
    font-family: Istok Web;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    top: 1em;
}


.brief{
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: auto;
    padding: 2em 0;
    margin: 2em auto;
    border-radius: 2em;
    gap: 8em;
}

 .brief-left h2{
    color: var(--title);
    text-transform: capitalize;
    font-family: 'Istok Web';
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 10px;
}
.brief-right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2em;
}
.brief-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
    
}
.brief-right h3{
    font-size: 18px;
    color: var(--title);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Istok Web';

}
.brief-right p{
    font-family: 'Poppins';
    font-size: 18px;
    color: var(--text-color);
    text-transform: capitalize;
}
.brief-right .tools img{
    width: 10%;
}
.brief-left p{
    color: var(--text-color);
    font-family: 'Poppins';
    font-size: 1em;
    font-family: 400;
    
}
.tools{
    padding-top: 0.8em;
    justify-content: start;
    align-items: start;
}
.tool-img{
    padding-top: 1em;
    display: flex;
    gap: 1em;
}

.mock-1{
    background-color: var(--background);
    width: 95%;
    height: auto;
    border-radius: 1em;
    margin: 4em auto;
}
.mock-1 img, .photo-cont img{
    border-radius: 1em;
    width: 100%;
}
.photo-cont{
    background-color: var(--background);
    width: 95%;
    height: auto;
    border-radius: 1em;
    display: grid;
    margin: 4em auto;
    place-items: center;
    
}

.color-pallete{
    margin: 4em auto;
    width: 95%;
}
.color-pallete h2{
    text-align: center;
    font-size: 3em;
    padding: 1em 0;
    font-family: 'Istok Web';
    color: var(--title);
    font-weight: 400;
}

.colors{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 70%;
    margin: 0 auto;
    place-items: center;
    height: 10em;
}
.colors p{
    color: var(--text-color);
    font-size: 1em;
}

.color{
    display: flex;
    height: 7em;
    width: 7em;
}

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 664px;
    gap: 2.5em;
    margin: 4em auto;
    /* background-color: #B99AFF; */
    
}
.category{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2,1fr);
}
.category_photo{
    width: calc(664px / 2);
    height: calc(664px / 2);
    object-fit: cover;

}
.category_mock *{
    border-radius: 1em;

}


.emojis{
    background-color: var(--background);
    width: 95%;
    border-radius: 1em;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    place-items: center;
    margin: 0 auto;
    padding: 4em 0;
}
.mock-3 img, .photo img{
    border-radius: 1em;
}
.mock-3, .photo{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: fit-content;
    gap: 2em;
    margin: 4em auto;
    border-radius: 1em;
    overflow: hidden;
}
.photo :nth-child(2){
    width:45%;
    object-fit: fill;
    flex:1;
}
.interactions{
    margin: 0 auto;
    width: 95%;
    border-radius: 1em;
    height: auto;
    display: grid;
    place-items: center;
    
}
.interactions h3{
    font-size: 3em;
    text-align: center;
    color: #D6D6D6;
    text-transform: capitalize;
    font-family: 'Istok Web';
    display: grid;
    place-items: center;
    padding: 1em 0;
    color: var(--title);

}
.proto-videos{
    display: flex;
    flex-direction: column;
    gap: 4em;
}
@media (max-width: 1000px) {
    .colors{
        display: grid;
       grid-template-rows:repeat(2,1fr) ;
        place-items: center;
        gap: 1em;
    }
    .categories, .photo, .logo-cont{
        display: flex;
        flex-direction: column;
        gap: 2em;
        height: auto;
       
    }
    .category_photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    .category{
        /* background-color: aquamarine; */
        width: 95%;
        
    }
    .category_mock img{
        width: 100%;
}
.photo :nth-child(2){
    width: 95%;
}

    
}