*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
:root{

    --background-color: #202020;
    --text-color: #D6D6D6;
    --title: #FFD100;
    --background: #363636;
}

.footer{
    background-color: #333;
   height: 10em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    margin-top: 4em;
    color:var(--text-color) ;
}
.footer :nth-child(2){
    color: var(--title);
}