@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
  --background-color: #202020;
  --text-color: #D6D6D6;
  --title: #FFD100;
  --background: #333;
}

* {
  margin: 0;
  padding: 0;
}

header {
  color: var(--text-color);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 10em;
  font-size: 1.1em;
  font-family: 'Poppins';
}

.left {
  justify-self: left;
  margin: 0 6em;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0 6em;
}

.right :nth-child(2) {
  border: 2px solid var(--title);
  padding: 10px;
  background-color: var(--title);
  border-radius: 10px;
  color: #202020;
  font-size: 18px;
}

header a {
  color: var(--text-color);
  text-decoration: none;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 60px;

}

.about {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.links {
  width: 100%;
  text-align: end;

}
.links p {
  color: var(--text-color);
}

.links a {
  color: var(--text-color);
  text-decoration-line: underline;

}

.gallery {
  display: flex;
  height: 701px;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.gallery h1 {
  color: var(--title);
  text-transform: uppercase;
  padding-bottom: 40px;

}

.gallery-photos {
  display: flex;
  width: 1440px;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #FFD100; */
  margin: 0 60px;

}

.item1 {
  display: flex;
  height: 591px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.detail1,
.detail2 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.banner {
  background-color: var(--background);
  width: 100%;

}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 13px 0px;
  gap: 100px;
  align-items: center;
  list-style: none;
  color: var(--title);
  font-size: 22px;
  text-transform: capitalize;


}

@media (max-width:1000px) {}

/* -----------Footer css--------- */
.footer {

  display: flex;
  height: 541px;
  justify-content: space-evenly;
  align-items: center;

}

.about_me {
  width: 930px;
  color: var(--text-color);
  padding-left: 100px;


}

.about_me span {
  color: var(--title);
}

.profile {
  border-radius: 358.61px;
  border: 5px solid var(--text, #FFD100);
  width: 350px;
  height: 358.61px;
  flex-shrink: 0;
}






















/* .contact {
  display: flex;
  color: var(--text-color);
  margin: 60px;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  border-bottom: 1px #000 solid;
}

.contact p {
  width: 500px;
}

.socials {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
} */