@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

  :root {
  --background-color: #202020;
  --text-color: #D6D6D6;
  --title: #FFD100;
  --background: #333;
}

* {
  margin: 0;
  padding: 0;
}



.gallery h1 {
  color: var(--title);
  text-transform: uppercase;
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;

}

.gallery-photos {
  display: flex;
  width: 95%;
  margin: 0 auto;
  padding-top: 2em;
  flex-wrap: wrap;
  gap:1em;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  color: var(--text-color);

}
.coming-soon{
  width: 40%;
  height: max-content;
  border:  solid 2px #333;
  border-radius: 40px;
  overflow: hidden;
  padding: 2em;
  position: relative;
}
.coming-soon img{
  width: 100%;
  background: #202020;
  opacity: 20%;
}

.coming-soon h3{
  color: var(--title);
  font-size: 42px;
  word-wrap: break-word;
  text-transform: uppercase;
  opacity: 40%;
  width: 100%;
  height: 100px;
  position: absolute;
  top:50%;
  left: 25%;
}
.item {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2em;
  border:  solid 2px #333;
  border-radius: 40px;
}
.item p{
  padding:  1rem 0;
}

.item > a > img{
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  text-transform: capitalize;
}

.detail1,
.detail2 {
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* -----------Footer css--------- */
.about_cont {
  display: flex;
  height: auto;
  color: var(--text-color);
  margin: 6em auto;
  width: 95%;
  justify-content: space-around;
  align-items: center;
  gap: 2em;

}
.about_me > span {
  text-align: center;
  font-size: 1.5rem;
  color: var(--title);
  font-family: 'Istok Web';

}
.about_me{
  /* width: 70%; */
  flex: 2;
}
.profile >  img{
    width: 300px;
    height: auto;
}

@media screen and (max-width: 1000px) {
  .gallery-photos {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    gap: 2em;
  }
  .item{
    padding: 30px 30px;
    width: 95%;
  }
  .coming-soon {
    width: 95%;
  }
  .coming-soon h3{
    width: 55%;
    text-align: center;
    word-wrap: break-word;

  }
  .about_cont{
    display: flex;
    flex-direction: column;
  }
  .profile >  img{
    display:none;
}

}
