*{
    margin: 0;padding: 0;
}
.banner{
    width: 100vw;
    height: 4em;
    margin: 8em 0;
    background-color: aliceblue;
}
.banner ul{
    list-style-type: none;
    display: flex;
    font-family: 'Poppins';
    font-size: 1.1em;
    gap: 2em;
    padding:2em;
    color: var(--title);
    background-color: var(--background);
    perspective: -1000px;
    
}