* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #202020;
    --text-color: #D6D6D6;
    --title: #FFD100;
    --background: #363636;
    --shadow: #ffd00058;
}

body {
    background-color: var(--background-color);
    font-family: "Poppins";

}

.s-header {
    position: relative;
    height: 140vh;
    width: 100%;
}

.s-container {
    overflow: hidden;
}

.s-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.s-header h1 {
    color: var(--background-color);
    font-family: Poller One;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;
    top: 1em;
}



.main {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.overview {
    background-color: var(--background);
}

.overview img {
    width: 100%;
}

.main .overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 60px;
    padding: 2em 4em;
}
.main .overview h2{
    font-size: 2em;
    font-weight: 400;
}
.main .overview img {
    padding: 40px;
}


.process {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8em 0;
}

.process img {
    width: 100%;
}

.process h2 {
    color: var(--text);
    font-size: 3rem;
    font-family: 'Poller One';
    padding-bottom: 100px;
    text-transform: capitalize;
}

.mock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */

}

.mock img {
    width: 20%;

}

.user-flow img {
    width: 100%;
    clip-path: inset(100px 0 0 0 );
}
.user-flow h2{
    text-align: center;
    font-family: 'Poller One';
    font-size: 3em;
    margin-top:2em;
    text-transform: capitalize;
}
.persona_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.persona_cont h2 {
    text-align: center;
    color: var(--text-2, #D6D6D6);
    font-family: 'Poller One';
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 5rem;
}

.personas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
    width: 95%;
}
.personas img{
    flex: 1;
    width: 30%;

}
.mock-3 {
    background-color: var(--background);
}
.mock-3 img{
    width: 100%;
}

.style-guides h2 {
    color: var(--text-2, #D6D6D6);
    font-family: 'Poller One';
    font-size: 3rem;
    margin-bottom: 2em;
    text-transform: uppercase;
    text-align: center;

}
.style-guides{
    margin: 0 auto;
    width: 95%;
}

.typo {
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.font h3 {
    color: var(--text-2, #D6D6D6);
    font-family: 'SF Pro';
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

.font p {
    color: var(--text-2, #D6D6D6);
    font-size: 3.75rem;
    text-transform: capitalize;
    font-family: 'SF Pro';

}

.font-style ul {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    align-items: flex-start;
    font-size: 1.2rem;
    list-style: none;
}

.alphabets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.alphabets p {
    font-family: 'SF Pro';
    font-size: 2rem;
    font-style: normal;
    line-height: 150%;
}

.alphabets p:first-child {
    color: var(--text-2, #D6D6D6);
    letter-spacing: 0.34rem;
    text-transform: uppercase;

}

.s-color {
    width: 100%;
}

.s-color h3 {
    text-align: center;
    text-transform: capitalize;
    color: var(--text-2, #D6D6D6);
    font-family: 'Poller One';
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    padding: 3rem 0;
}

.palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.m-color, .t-color {
    width: 6rem;
    height: 6rem;
    /* border-radius: 100%; */
}

 .tag-colors, .main-colors{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(2,1fr);
gap: 1em;
}
.tag-colors p, .main-colors p{
    height: 20px;
    text-align: center;
}
.wireframes{
    margin-top: 60px;
}
.wireframes h2 {
    text-align: center;
    color: var(--text-color);
    font-family: 'Poller One';
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;

}
.wireframes-cont img {
    width: 20%;
    border-radius: 12px;
}

.wireframes-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-screen img {
    width: 100%;
}

.hi-fi {
    margin: 3em auto;
    width: 95%;
    /* background-color: var(--background); */
    border-radius: 2em;
    padding: 2em 0;
}

.onboarding{
    width: 100%;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(2,1fr);
   place-items: center;
}
.main-screens {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px auto;
    
}
.onboarding img {
    width: 80%;
    filter: drop-shadow(5px 5px 10px #202020);
}

.main-screens img {
    width:20%;
    flex: 1;
    filter: drop-shadow(5px 5px 10px #202020);

}
.prototypes h2{
    font-family: 'Poller One';
    font-size: 3em;
    text-align: center;
    margin: 2em 0;
}
.proto-videos{
    display: flex;
}
/* .proto-videos .cart{
     width: 50%; 
} */
.hi-fi h3 {
    color: var(--text-color);
    text-align: center;
    font-size: 3rem;
    font-family: 'Poller One';
    text-transform: uppercase;
    padding: 40px 0;
}

.footer a {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Poppins';
    margin: 60px 0;
}

.footer a:hover {
    text-decoration: underline var(--title);

}

@media (max-width: 1000px) {
    .main {
        margin: 0 auto;
        overflow: hidden;
    }
    .main .overview {
        display: flex;
        height: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin: 2em 0.5em;
        width: 95%;

    }

    .overview .content {
        margin: -2em;
        /* background-color: #97CC04; */
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }

    .overview img {
        width: 50%;
    }

    .process {
        width: 95%;
    }
    .process h2 {
        font-size: 2em;
        background-color: #202020;
        padding-bottom: 2em;
    }

    .personas {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .persona_cont h2{
        font-size: 2em;
    }
    .personas img {
        width: 80%;
        height: auto;
        gap: 20px;

    }
    .typo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alphabets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alphabets p {
        letter-spacing: 0.2em;
        font-size: 1.2rem;
    }

    .palette {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    display: none;
    cursor: pointer;
}

.scroll-to-top-button.visible {
    display: block;
}